@font-face {
    font-family: "iconfont"; /* Project id 4766441 */
    src: url('//at.alicdn.com/t/c/font_4766441_l0uegu2tktk.woff2?t=1733928164420') format('woff2'),
    url('//at.alicdn.com/t/c/font_4766441_l0uegu2tktk.woff?t=1733928164420') format('woff'),
    url('//at.alicdn.com/t/c/font_4766441_l0uegu2tktk.ttf?t=1733928164420') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang1:before {
    content: "\e631";
}

.icon-pinglun1:before {
    content: "\e60c";
}

.icon-dianzan_kuai:before {
    content: "\ec8c";
}

.icon-liulan:before {
    content: "\e663";
}

.icon-pinglun:before {
    content: "\e891";
}

.icon-icon-:before {
    content: "\e627";
}

.icon-zhiding:before {
    content: "\eb16";
}

.icon-shoucang:before {
    content: "\e605";
}

.icon-setting:before {
    content: "\e630";
}

.icon-qq:before {
    content: "\e600";
}

.icon-zhandianpeizhi:before {
    content: "\e6a3";
}

.icon-list:before {
    content: "\e6a8";
}

.icon-xiaoxi:before {
    content: "\e64d";
}

.icon-dengpao:before {
    content: "\e67d";
}

.icon-wangzhan:before {
    content: "\e628";
}

.icon-wenzhangguanli:before {
    content: "\e634";
}

.icon-navicon-wzgl:before {
    content: "\e661";
}

.icon-dianzanliang:before {
    content: "\e64a";
}

.icon-youxiang:before {
    content: "\e908";
}

.icon-wuguan:before {
    content: "\ec5f";
}

.icon-liulanliang:before {
    content: "\e61c";
}

.icon-xitongrizhi:before {
    content: "\e608";
}

.icon-shuju:before {
    content: "\e8b9";
}

.icon-banner:before {
    content: "\e61a";
}

.icon-yuntupian:before {
    content: "\e8a4";
}

.icon-jia:before {
    content: "\e7cb";
}

.icon-jia1:before {
    content: "\e69d";
}
